<div class="right menu">   
  <div class="menu">
    <% if logged_in? %>
      <%= link_to logout_path, method: :delete, class:"item" do %>
        <i class="sign out alternate icon"></i>
      <% end %>
      <% Message.delete_all %>
    <% end %>
  </div>
</div>